#claims_edit_details>tbody>tr>td{


}

#claims_edit_details_table>tbody>tr>td:first-child {
  text-align: right;
  width: 150px;
  font-weight: bold;

}


#claims_edit {

  /*max-width: 900px;*/
  margin:auto;
  /*margin-left: 200px;*/
  margin-left: 5px;
}

.help-block_info{
  color: #6FB1C7;
}

.btn-submit{
  background-color: #AD39A2;
  color: #ffffff;

}

.btn-submit:hover{
  background-color: #94318A;
  color: #ffffff;

}

.req-field:after{
  color: #D9675D;
  content:"*";
}

.panel-title{
  color: white;
}

.table tr:last-child>td{
      border-bottom: 1px solid #ddd;
}

.table tr:last-child>td{
      border-bottom: 1px solid #ddd;
}

.order-history-item table>tbody>tr>td:nth-child(2),.other-assigned-item table>tbody>tr>td:nth-child(2){

  padding-left:5px;

}
.order-history-item table>tbody>tr>td:first-child, .other-assigned-item table>tbody>tr>td:first-child{

  text-align: right;
  font-weight: bold;

}

.item-note-datetime,.item-email-datetime{
  float:right;
}

.item-note-data{
  color:grey;
  margin-bottom: 5px;
}
