.assigned-rep{
  width: 100%;
}
.voidDate-color{
  color: #EC2F23;
}


.table-container{
  display: grid;
  grid-template-columns: 10px 1fr 10px;
  grid-template-rows: 1fr 1fr 1fr;
}

.table-container .loader-container{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.table-container .dataTables_wrapper{

  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;

}

.dataTable thead tr th{

  vertical-align: middle;

}

#hot_orders_table_body a{

  color:#2962FF;
  font-weight: bold;
   text-decoration: underline;
}


#hot_orders_table_body tr:hover{

  background-color:#EEEEEE;

}
