.modal{

  /*top:0px !important;*/
}

.page-content .page-bar{

    position: relative;
    padding: 0px 20px;
    background-color: #ffffff;
    margin: -25px -20px 0 -20px;

}

.page-container .page-content{

  background-color:#F5F8FA;

}

.page-bar a{

  text-decoration: underline;
}

.page-bar a:hover{

  color:#1976D2 !important;
  text-decoration: none;
}


.other-assigned-red-item{
  border-left: 2px solid #C62828 !important;
  background-color: #FFCDD2;

}

.other-assigned-green-item{
  border-left: 2px solid #009688 !important;
  background-color: #B2DFDB;

}

.other-assigned-yellow-item{
  border-left: 2px solid #F57F17 !important;
  background-color: #FFF9C4;

}
