.btn>.material-icons{
    font-size: 14px !important;
  position:relative;
  top:2px;
}

.panel-title>.material-icons{
  position: relative;
  float: left;
  top: -5px;
  margin-right: 5px;
}

.dropdown-menu .material-icons{
  float:left;
  position: relative;
  top: -3px;
  margin-right: 5px;
}

.more>.material-icons{

  position: relative;
  top: -5px;
  font-size: 20px;
}

.caption-subject>.material-icons{
  position: relative;
  top: 5px;
  font-size: 20px;
}
