i,a {
  cursor:pointer;
}
#my_hub_status {

  /*max-width: 900px;
  margin:auto;*/
  /*margin-left: 250px;*/
}

#my_hub_open{
  margin-top: 20px;
}

.portlet.light{
  padding: 12px 20px 15px 20px;
    background-color: rgba(251, 251, 251, 0.78);
}

.table-scrollable > .table {
    width: 100% !important;
    margin: 0 !important;
    margin-bottom: 0;
    background-color: #fcfcfc;
}

.profile-userpic{
    text-align: center;

}

.profile-userpic .material-icons {
    font-size: 150px;
    float: none;
    margin: 0 auto;

  }
.email-notif-body{
  font-size: 13px;
  font-weight: bold;
}

#user_signature_editable{
  -moz-appearance: textfield-multiline;
  -webkit-appearance: textarea;
  border: 1px solid gray;
  font: medium -moz-fixed;
  font: -webkit-small-control;
  height: 200px;
  overflow: auto;
  padding: 2px;
  resize: both;
  /*width: 550px;*/
  /*float: right;*/
}

.btn>.material-icons{
  font-size: 15px;
}
